<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>es6</title>
  </head>
  <body>
  	<!--lesson7测试-->

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    

    <p onclick="fangdou()">段落1</p>


    <script src="/js/index.js">
      {
        let  time = 2000;
        function fn() {
          console.log('执行点击事件');
        }
        function fangdou(fn, time) {
          if(timer) {
            clearTimeout(timer);
          }
          var timer = setTimeout(
            function(){
              fn();
            }, time);
        }
      }
    </script>
  </body>
</html>
